@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap&subset=latin-ext');


body{
  background-color: rgb(245, 245, 245);
    font-family: 'Quicksand', sans-serif;
}

::selection {
    background-color: yellow;
    color: black;
}

.App {
  text-align: center;
}

#gradientBar{
  width: 100%;
  height: 1vh;
  min-height: 5px;
  background: linear-gradient(90deg, rgba(49,117,194,1) 0%, rgba(0,191,191,1) 100%);
}

h1{
  font-family: 'Montserrat', sans-serif;
  width: fit-content;
  margin: 2em auto 0;
  /*margin-top: 0.5em;*/
  font-size:calc(20px + 2vw);
}

h2{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h3{
  font-family: 'Montserrat', sans-serif;
  margin: 1em auto 1em auto;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#navBarContents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.nav-links {
  width: 95%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navLinkStyle{
  color: black;
  text-decoration: none;
}

.navLinkStyle:hover {
text-decoration: none;
}

.navLinkStyle::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width .3s;
  margin: auto;
}

.navLinkStyle:hover::after {
  width: 100%;
  transition: width .3s;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

#wrapper {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 300px;
  margin-top: 11vh;
}

#textContainer {
  /*background-color: white;*/
  /*border: 1px solid rgba(0, 0, 0, 0.10);*/
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  max-width: 480px;
}

.button{
  display: block;
  color: white;
  background-color: rgba(0,191,191,1);
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  padding: 0.7em;
}

.frontPageButton{
margin-bottom: 2em;
}

.button:hover{text-decoration: none;
background: linear-gradient(90deg, rgba(49,117,194,1) 0%, rgba(0,191,191,1) 100%);;
}

#profilePicture{
  width: 300px;
}

#aside{
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  border-right: 1px solid rgba(0, 0, 0, 0.10);
}

aside li{
  text-align: center;
  font-size: 1.1em;
}

aside ul {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1em;
}

ul {
 list-style: none;
 padding-inline-start: 0;
}

#portfolioWrapper {
  display: grid;  
  margin-top: 11vh;
  min-height: 100vh;
}

#loading{
  margin: 16vh auto 1em auto;
}

#search{
  font-family: Quicksand, FontAwesome;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 0.5em;
  font-size: 1.0em;
}

.githubItem{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.10);
  width: 80%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
}

.githubItem p {
  margin: 0;
}

.frameStyle{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.10);
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  max-width: 80%;
}

.frameStyle a {
  max-width: 80%;
}

 #contactWrapper {
  display: grid;  
  margin-top: 11vh;
  min-height: 100vh;
 }

.contactList li{
  margin: 1em 0 1em 0;
  max-width: 400px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  min-height: 11vh;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: auto;
}

footer li {
  height: fit-content;
  margin: auto 1em auto 1em;
}

footer a {
  color: white;
  font-size: 150%;
}

@media only screen and (max-width:840px) {
  
  #wrapper {
  grid-template-columns: auto;
  }

  *{
    font-size: 1.02em;
  }

  .navFontAwesomeIcons{
    display: none !important;
  }

  .nav-links{
    justify-content: space-between;
  }

  #profilePicture{
    max-width: 65%;
    margin-top: 2em;
  }  

  #aside{
    margin-top: 0;
  }

  #textContainer {
    max-width: 80%;
  }

  footer li {
    height: fit-content;
    margin: auto 0.5em auto 0.5em;
  }
 
  footer a {
    font-size: 130%;
  }
}